<nav th:fragment="navFragment">
    <div class="navbar bg-neutral text-neutral-content">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 text-black">
                    <li>
                        <a href="/user/logout" class="inline-block w-[100%]">logout</a>
                    </li>
                    <li>
                        <a href="/user/signup" class="inline-block w-[100%]">signup</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost text-xl" href="/">logo</a>
        </div>
        <div class="navbar-end">
            <button class="btn btn-outline text-white" onclick="searchModal.showModal()">노트북 검색</button>
            <dialog id="searchModal" class="modal text-black">
                <div class="modal-box h-[600px]">
                    <div class="h-[15%]">
                        <form action="/" class="flex justify-center gap-5">
                            <input type="text" name="keyword" class="input input-bordered" th:value="${keyword}">
                            <input type="hidden" name="isSearchModal" value="true">
                            <input type="hidden" name="sort" th:value="${sort}">
                            <input type="submit" value="검색" class="btn btn-outline">
                        </form>
                    </div>
                    <ul class="h-[70%] border-2 overflow-auto"
                        th:with="itemHover = 'hover:bg-blue-600 p-[10px] flex hover:text-white', itemAnchor = 'inline-block w-[100%]'">
                        <li th:class="${itemHover}" th:each="notebook : ${searchedNotebookList}">
                            <i class="fa-solid fa-book p-[5px]"></i>
                            <a th:href="@{|/books/${notebook.id}?keyword=${keyword}&isSearchModal=${isSearchModal}&sort=${sort}|}" th:text="${notebook.name}" th:class="${itemAnchor}"></a>
                        </li>
                        <li th:class="${itemHover}" th:each="note : ${searchedNoteList}">
                            <i class="fa-regular fa-note-sticky p-[5px]"></i>
                            <a th:href="@{|/books/${note.notebook.id}/notes/${note.id}?keyword=${keyword}&isSearchModal=${isSearchModal}&sort=${sort}|}" th:text="${note.title}" th:class="${itemAnchor}"></a>
                        </li>
                    </ul>
                    <div class="modal-action h-[10%]">
                        <form method="dialog">
                            <button class="btn btn-outline">Close</button>
                        </form>
                    </div>
                </div>
            </dialog>
        </div>
    </div>
</nav>